{% extends 'template.html' %}

{% block content %}
    <h1>Inicio</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Eveniet aspernatur inventore perferendis numquam at ex earum,
        ducimus, corrupti ipsa labore soluta aut ab cumque, beatae laudantium
        deserunt. Repudiandae nesciunt unde voluptatibus. Et commodi culpa
        pariatur quaerat animi consequuntur possimus dolorem odio fuga ex cumque
        numquam modi a iste reiciendis, sed impedit odit, quo dolor eveniet quasi
        amet voluptates. Eveniet, similique corrupti saepe nostrum quam quos sequi
        aperiam unde laudantium enim! Velit iusto libero nesciunt sapiente, est officiis
        optio praesentium cumque quas vero exercitationem, temporibus enim deleniti
        earum veritatis, eum neque et laudantium illum saepe odio asperiores. Recusandae
        temporibus dolor quas.
    </p>
{% endblock %}