{% extends 'template.html' %}

{% block content %}
    <div class="grid grid-cols-3">
        <div class="col-start-2">
            <form method="POST" class="border border-gray-300 rounded m-5 p-5">
                <h1 class="text-3xl font-bold mb-4 text-center">Inicio de sesión</h1>

                {{ error }}

                {% csrf_token %}

                <div class="mb-3 w-full">
                    <label for="username">Nombre de usuario</label>
                    <input type="text" name="username" class="w-full block p-2 border border-gray-300 rounded" required>
                </div>

                <div class="mb-3 w-full">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" class="w-full block p-2 border border-gray-300 rounded" required>
                </div>

                <button class="mb-4 bg-gray-400 text-white p-2 w-full rounded shadow">Inicio de sesión</button>
            </form>
        </div>
    </div>
{% endblock %}