{% extends 'template.html' %}

{% block content %}
    <div class="grid grid-cols-6">
        <div class="col-start-2 col-span-4">
            <h1 class="text-3xl font-bold mb-4 mx-4 mt-4">Crear tarea</h1>

            <form
                class="block border border-gray-300 rounded mx-5 p-5"
                action="/tasks/create/"
                method="POST"
            >
                {{ error }}

                {% csrf_token %}
                {{ form.as_p }}

                <button class="cursor-pointer my-2 bg-gray-600 text-white p-2 rounded shadow">Guardar</button>
            </form>
        </div>
    </div>
{% endblock %}
