{% extends 'template.html' %}

{% block content %}
    <div class="grid grid-cols-6">
        <div class="col-start-2 col-span-4">
            <div class="flex justify-between">
                <div>
                    <h1 class="text-3xl font-bold mb-4 mt-4 mx-5">{{ title }}</h1>
                </div>

                <div class="mt-6 mx-5">
                    <div class="inline" x-data="{ open: false }">
                        <a @click="open = true" href="#" class="rounded p-2 bg-green-600 text-white">Importar desde Excel</a>

                        {% include 'tasks/import.html' %}
                    </div>

                    <a href="/tasks/excel" class="rounded p-2 bg-green-600 text-white">Exportar a Excel</a>
                    <a href="/tasks/pdf" class="rounded p-2 bg-red-600 text-white">Exportar a PDF</a>
                </div>
            </div>

            <div>
                {% for task in tasks %}
                    <a
                        href="{% url 'show' task.id %}"
                        class="block border border-gray-300 rounded mx-5 p-5"
                    >
                        <div class="flex justify-between">
                            {% if task.important %}
                                <p class="font-bold text-2xl text-green-600">{{ task.title }}</p>
                            {% else %}
                                <p class="font-bold text-2xl">{{ task.title }}</p>
                            {% endif %}
                            
                            <p>{{ task.user.username }}</p>
                        </div>

                        <p>{{ task.description }}</p>

                        {% if task.completed %}
                            <p>{{ task.completed }}</p>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}