{% extends 'template.html' %}

{% block content %}
    <div class="grid grid-cols-6">
        <div class="col-start-2 col-span-4">
            <h1 class="text-3xl font-bold mb-4 mt-4 mx-5">{{ title }}</h1>

            <div>
                {% for task in tasks %}
                    <a
                        href="{% url 'show' task.id %}"
                        class="block border border-gray-300 rounded mx-5 p-5"
                    >
                        <div class="flex justify-between">
                            {% if task.important %}
                                <p class="font-bold text-2xl text-green-600">{{ task.title }}</p>
                            {% else %}
                                <p class="font-bold text-2xl">{{ task.title }}</p>
                            {% endif %}
                            
                            <p>{{ task.user.username }}</p>
                        </div>

                        <p>{{ task.description }}</p>

                        {% if task.completed %}
                            <p>{{ task.completed }}</p>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}