{% extends 'template.html' %}

{% block content %}
    <h1>{{ task.title }}</h1>

    {{ error }}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button>Actualizar</button>
    </form>

    <form action="{% url 'completed' task.id %}" method="POST">
        {% csrf_token %}
        <button>Completar</button>
    </form>

    <form action="{% url 'delete' task.id %}" method="POST">
        {% csrf_token %}
        <button>Eliminar</button>
    </form>
{% endblock %}